
.modal_container {
    position: relative;
	width: 80%;
	height: 75%;
	background-color: #fff;
	border: thin solid #000;
    border-radius: .25rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	
    /*display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 1fr 1fr;
	*/
}

.modal_container.error{
    height: 90%;
}

.modal_content {
    width: 100%;
    height: 90%;
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45% 45% 10%;
}
.modal_content.error{
    grid-template-rows: 32% 32% 26% 10%; 

}
.content-error-modal-pv{
    width: 100%;
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;


}

.error-modal-pv{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    background-color: #f8d7da;
    color: #721c24;
    font-size: 1rem;
    font-weight: 500;
    border-radius: .25rem;
    padding: 1rem;
}
.content-nombre{
    font-size: 1rem;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding: 1rem;
}
.content-nombre label{
    padding-left: .5rem;
    margin-bottom: 1rem;

}
.content-nombre input{
    width: 95%;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    
    padding: .25rem;
    padding-left: .5rem;
}

.content-direccion{
    font-size: 1rem;

    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
}

.content-direccion label{
    padding-left: .5rem;
    margin-bottom: 1rem;

}
.content-direccion input{
    width: 95%;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    
    padding: .25rem;
    padding-left: .5rem;
}

.content-mail{
    font-size: 1rem;

    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
}
.content-mail label{
    padding-left: .5rem;
    margin-bottom: 1rem;

}
.content-mail input{
    width: 95%;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    
    padding: .25rem;
    padding-left: .5rem;
}


.content-telefono{
    font-size: 1rem;

    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
}


.content-telefono label{
    padding-left: .5rem;
    margin-bottom: 1rem;

}
.content-telefono input{
    width: 95%;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    
    padding: .25rem;
    padding-left: .5rem;
}

.content_button.error{
    grid-row: 4/5;

}

.content_button{
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid #5c636a;
}