@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap");

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/
@font-face {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap");
}

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  border: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
/*
img {
	width: 250px;
	height: 200px;
}*/

.img {
  width: 50px;
  height: 50px;
  margin-left: 40px;
  cursor: pointer;
}
/*

.header {
	display: flex;
	align-items: center;
	background-color: #f5f5f5;
	width: 100%;
	color: #fff;
	padding: 10px 0;
}
*/
/*
.products {
	padding: 40px 0;
	text-align: center;
	display: flex;
}

.products h2 {
	color: #111111;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 50px;
	margin-left: -100px;
}
*/
.footer {
  padding: 20px 0;
  background-color: #111111;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}
/*
.menu .navbar ul li {
	position: relative;
	float: left;
}

.menu .navbar  a {
	font-size: 18px;
	padding: 20px;
	color: #111111;
	display: block;
}
*/
.link h3 {
  font-size: 18px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/*
.link a {
  font-size: 16px;
  color: #dcdcdc;
  display: block;
  margin-bottom: 10px;
}*/

.link li {
  color: #fff;
}

/*css nuevo*/
/* Estilos generales */
/*
body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.header h2 {
	color: #111111;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
}
*/
.pago {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
}

.footer {
  padding: 20px 0;
  background-color: #111111;
}

/* Estilos para el carrito */
#lista-carrito {
  width: 100%;
  border-collapse: collapse;
}

#lista-carrito th,
#lista-carrito td {
  padding: 10px;
}

#lista-carrito th {
  background-color: #333;
  color: #fff;
  text-align: left;
}

#carrito {
  position: relative;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 0.35rem;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2);
  margin-left: 40px;
  margin-right: 40px;
}

#vaciar-carrito {
  display: flex;
  width: 20%;
  text-align: left;
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
}

#vaciar-carrito span {
  width: 100%;
  text-align: center;
}

.section-pago {
  display: grid;
  width: 100%;
  grid-template-columns: 40% 40% 250px;
  grid-template-rows: repeat(2, 300px);
}

.section-pago #carrito {
  grid-column: 1/3;
  grid-row: span 2;
}

.section-pago .content-pago {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/*
.section-pago .button-pago{
    grid-column: 3/4 ;
    grid-row: 1 / 2 ;
}*/
.card-total {
  font-size: 24px;
  margin-bottom: 10px;
}

#paypal-button-container {
  text-align: center;
}

/* Estilos generales */
/*
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
*/
/* Estilos para la tabla del carrito */
#lista-carrito {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

#lista-carrito th,
#lista-carrito td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#lista-carrito th {
  background-color: #333;
  color: #fff;
  text-align: left;
}

/* Estilos para el scroll */
/* Barra de scroll */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de scroll */
  height: 10px; /* altura de la barra de scroll */
}

/* Riel (track) del scroll */
::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 4px;
}

/* Manija (thumb) del scroll */
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilo cuando se pasa el mouse sobre la manija del scroll */
::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
  /* Color de la manija del scroll al pasar el mouse */
}

.content-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: none;
}

.is-active-cart {
  display: flex;
}

.content-message span {
  font-size: 1.2rem;
}

.content-pago .desabilitar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 900;
  filter: blur(2px);
  cursor: not-allowed;
}
.habilitar {
  display: none;
}
@media screen and (min-width: 480px) {
  .section-pago {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
  }
  table tbody tr:last-of-type td {
    border-bottom: none !important;
  }
  table tbody .row-product {
    width: 100% !important;
    min-height: 214px !important;
  }
  table tbody .row-product td {
    height: 214px !important;
  }
  table tbody td {
    max-height: 11rem !important;
  }
  table tbody .content-img {
    max-width: 11rem !important;
  }
  .buttons-agr-red {
    height: 11rem !important;
  }
  .section-pago #carrito {
    width: 95%;
    margin: 0 auto;
    grid-column: span 1;
    grid-row: 1/3;
    margin-bottom: 1.5rem;
  }
  .section-pago .content-pago {
    /*
        align-self: self-start;
        margin-top: 2rem;*/
    grid-column: 1/2;
    grid-row: 3/4;
    width: 80%;
    margin: 0 auto;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
  }
  #vaciar-carrito {
    width: 40%;
  }
  #vaciar-carrito span {
    font-weight: bold;
  }
  .content-img img {
    width: 50px !important;
    height: 50px !important;
  }
  table tr td span {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  table tr td span {
    font-size: 1.2rem;
  }
  .buttons-agr-red {
    height: 190.2px !important;
  }
  .content-img img {
    width: 80px !important;
    height: 100px !important;
  }
  #vaciar-carrito {
    width: 30%;
  }
  .content-message span {
    font-size: 1.7rem;
  }
  .content-pago .desabilitar {
    height: 55%;
    top: 20%;
  }
}

/*
Espacio para cursor-no permitido
*/

@media screen and (min-width: 1024px) {
  .content-cart {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 12vh 1fr 253.6px;
    overflow-x: hidden;
  }

  .header-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    grid-row: 1/2;
  }
  .section-pago {
    grid-column: span 3;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 40% 35% 25%;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .footer {
    grid-column: span 3;
    grid-row: 3/4;
  }
  .section-pago #carrito {
    grid-column: 1/3;
    grid-row: span 2;
    margin-bottom: 1.5rem;
  }
  .section-pago .content-pago {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 80%;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }
  .content-pago .desabilitar {
    height: 100%;
    top: 0;
  }

  .last-td {
    min-height: 428px !important;
    max-height: 428.54px !important;
  }
  table tbody td {
    min-height: 214px !important;
    max-height: 214.5px !important;
  }
  .footer {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  #vaciar-carrito {
    width: 20%;
  }
  .link:nth-child(1) {
    margin-right: 10px;
    margin-left: 20px;
  }
  .link:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
  }
  .link:nth-child(3) {
    margin-right: 20px;
    margin-left: 10px;
  }
  .link:nth-child(4) {
    margin-right: 10px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 991px) {
  /*.header {
		min-height: 0vh;
	}*/
  .products {
    padding: 0 30px 30px 30px;
  }
  .products h2 {
    margin-bottom: 30px;
  }
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .link {
    flex-basis: calc(50% - 20px);
    text-align: center;
  }

  /* Reducir el tamaño de la fuente de los th */
  #lista-carrito th {
    font-size: 14px;
  }

  /* Ajustar el ancho de los elementos en la tabla */
  #lista-carrito th,
  #lista-carrito td {
    padding: 5px; /* Reducir el espacio interno */
    font-size: 12px; /* Reducir el tamaño de la fuente */
  }

  /* Ajustar el ancho del botón "Vaciar carrito" */
  #vaciar-carrito {
    padding: 8px; /* Reducir el espacio interno */
    font-size: 14px; /* Reducir el tamaño de la fuente */
  }

  /* Ajustar el tamaño de las imágenes en la tabla */
  #lista-carrito img {
    max-width: 120px; /* Limitar el ancho máximo de las imágenes */
    height: auto; /* Mantener la proporción de aspecto */
  }
  .header h2 {
    font-size: 45px;
    margin-left: -10px;
  }
  .img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 15px;
  }
}

.buttons-agr-red {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.buttons-agr-red button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.25rem;
}

.buttons-agr-red span {
  padding: 1rem;
  font-size: 1rem;
  column-gap: 1rem;
}

#lista-carrito th {
  text-align: center;
}

#lista-carrito td {
  text-align: center;
}

#vaciar-carrito.is-disabled {
  cursor: not-allowed;
}
