@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

@font-face {
    font-family:'Oswald', sans-serif ;
    font-family: 'Poppins', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap");
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.header{
    min-height: 20vh;
    background-color: #f5f5f5;
    padding: 50px 0;

}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu.container1{
    background-color: #f5f5f5;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 1000;
}


.logo{
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

table{
    width: 100%;
}

th, td{
    color: #fff;
}

#img-carrito{
    cursor: pointer;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img{
    flex-basis: 50%;
    height: auto;
    max-width: 50%;
    margin-top: 50px;
}

.header-txt{
    flex-basis: 50%;
    text-align: center;
}


.header-txt h1{
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}

.products{
    padding: 50px 0;
    text-align: center;

}

.products h2{
    color: #111111;
    font-family: 'Oswald',sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;

}
.product-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

}

.product{
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform .4s ease-out;
}

.product:hover{
    transform: scale(.9);
}

.product img{
    width: 250px;
    height: 370px;
    margin-bottom: 20px;
}

.product h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p, .precio{
    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;

}
.footer{
    padding: 20px 0;
    background-color: #111111;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{

    font-size: 18px;
    color: #fff;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a{
    font-size: 16px;
    color: #DCDCDC;
    /*Para poder aplicar margin, al ser un elemento en línea*/
    display: block;
    margin-bottom: 10px;
}


/* Estilo para el botón "Agregar al carrito" */
.agregar-barrito.btn2 {
    text-decoration: none;
    border: 2px solid transparent; /* Cambia el color de borde según sea necesario */
    padding: 15px;
    color: #000; /* Color del texto */
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.agregar-barrito.btn2 span {
    position: relative;
    z-index: 3;
}

.agregar-barrito.btn2::before,
.agregar-barrito.btn2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    pointer-events: none; /* Evita que los seudoelementos interfieran con los eventos del mouse */
}

.agregar-barrito.btn2::before {
    top: 0;
    left: 0;
    border-top: 2px solid #010100; /* Color del borde superior */
    border-bottom: 2px solid #010100; /* Color del borde inferior */
    transform: scaleY(0);
    z-index: 2;
}

.agregar-barrito.btn2:hover::before {
    transform: scaleY(1);
}

.agregar-barrito.btn2::after {
    top: 0;
    right: 0;
    border-right: 2px solid #010100; /* Color del borde derecho */
    border-left: 2px solid #010100; /* Color del borde izquierdo */
    transform: scaleX(0);
    z-index: 2;
}

.agregar-barrito.btn2:hover::after {
    transform: scaleX(1);
}

/* Estilo para el botón "Ir al carrito" */

.link-carrito {
    text-decoration: none;
    border: 2px solid transparent; /* Cambia el color de borde según sea necesario */
    padding: 10px 20px;
    color: #000000; /* Color del texto */
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.link-carrito span {
    position: relative;
    z-index: 3;
}

.link-carrito::before,
.link-carrito::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    pointer-events: none; /* Evita que los seudoelementos interfieran con los eventos del mouse */
}

.link-carrito::before {
    top: 0;
    left: 0;
    border-top: 2px solid #000000; /* Color del borde superior */
    border-bottom: 2px solid #000000; /* Color del borde inferior */
    transform: scaleY(0);
    z-index: 2;
}

.link-carrito:hover::before {
    transform: scaleY(1);
}

.link-carrito::after {
    top: 0;
    right: 0;
    border-right: 2px solid #000000; /* Color del borde derecho */
    border-left: 2px solid #000000; /* Color del borde izquierdo */
    transform: scaleX(0);
    z-index: 2;
}

.link-carrito:hover::after {
    transform: scaleX(1);
}

/* Estilos para el scroll */
/* Barra de scroll */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de scroll */
    height: 10px; /* altura de la barra de scroll */
}

/* Riel (track) del scroll */
::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 4px; 
}

/* Manija (thumb) del scroll */
::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); 
}

/* Estilo cuando se pasa el mouse sobre la manija del scroll */
::-webkit-scrollbar-thumb:hover {
    background-color: #999999; /* Color de la manija del scroll al pasar el mouse */
}

.link li{
    color: #fff;
}

.link:nth-child(1) {
    margin-right: 10px;
    margin-left: 20px;
}

.link:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
}

.link:nth-child(3) {
    margin-right: 20px;
    margin-left: 10px;
}

.link:nth-child(4){
    margin-right: 10px; 
    margin-left: 30px; 
}

@media screen and (max-width:991px) {
    
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;

    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;

    }

    .menu .navbar ul li a{
        color: #fff;

    }
    #menu:checked ~ .navbar{
        display: initial;
    }

    .logo{
        display: none;
    }

    .submenu:hover #carrito{
        min-width: 100%;

    }

    .header{
        min-height: 0vh;

    }
    .header-content{
        padding: 50px 0;
        flex-direction: column;

    }
    .header-img{
        display: none;
    }
    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
    
    }
    
    .products{
        padding: 0 30px 30px 30px;
    }
    .products h2{
        margin-bottom: 30px;
    }

    .product-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product img{
        width: 200px;
        height: 280px;
        
    }

    .footer{
        padding: 30px;
    }
    .footer-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .link{
        flex-basis: calc(50% - 20px);
        text-align: center;
    }
}