@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

@font-face {
    font-family:'Oswald', sans-serif ;
    font-family: 'Poppins', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap");
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.card-container img{
    max-width: 40px;
    height: 53.3px;
    object-fit: contain;
}
.imgcarrito img{
    max-width: 40px;
    height: 53.3px;
    object-fit: contain;

}

img{
    max-width: 100%;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    min-height: 15vh;
    background-color: #f5f5f5;

}

/*
.menu{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
*/

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.menu.container1{
    background-color: #f5f5f5;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    margin: 0;
    z-index: 1000;
}
.opcion-usuario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    gap: 10px;

}
.ingresar{
    height: 100%;
}

.logo{
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #000000;
    display: block;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

table{
    width: 100%;
}

th, td{
    color: #fff;
}

#img-carrito{
    cursor: pointer;
}

.header-content{
    display: flex;
    height: 85vh;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img{
    flex-basis: 50%;
    height: 95%;
    max-width: 50%;
    /*
    margin-top: 50px;*/
}
.header-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-txt{
    flex-basis: 50%;
    text-align: center;
}


.header-txt h1{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}

.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;

}
/*
.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: #fff;
    border-radius: 5px;
}*/

.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;

}

.ofert-1{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #f5f5f5;
    padding: 35px;
}

.ofert-img{
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img{
    width: 250px;

}

.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}
.ofert-txt h3{
    color: #111111;
    font-family: 'Oswald',sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
/*
.btn-2{
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
}*/

.products{
    padding: 50px 0;
    text-align: center;

}

.products h2{
    color: #111111;
    font-family: 'Oswald',sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;

}
.product-content{
    display: flex;
    overflow-x: hidden;
    overflow-y: visible;
    /*border: thin solid #000;*/
    align-items: center;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    gap: 50px;
    width: calc(300px * 12 + 30px * 11);
    height:  600px;
    animation: moveLeftRight 30s infinite linear;
}

/* Estilos para el scroll */
/* Barra de scroll */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de scroll */
    height: 10px; /* altura de la barra de scroll */
}

/* Riel (track) del scroll */
::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 4px; 
}

/* Manija (thumb) del scroll */
::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); 
}

/* Estilo cuando se pasa el mouse sobre la manija del scroll */
::-webkit-scrollbar-thumb:hover {
    background-color: #999999; /* Color de la manija del scroll al pasar el mouse */
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(calc(-300px * 6 - 20px * 5));
    }
}
/*
.product img{
    max-width: 100%;
    height: auto;
}*/
  
.product{
    width: 350px;
    max-height: 500px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2);
    border-radius: 0.40rem;
    transition: transform .4s ease-out;
    scroll-snap-align: start;
}

.product:hover{
    transform: scale(1.1);
}

.product img{
    flex-basis: 20%;
    text-align: center;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.product .img {
    height: 250px;
    padding: 0; 
    margin: 0 0;
}


.product h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p, .precio{
    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;

}

.precio{
    font-weight: 800;
}

.icons{
    padding: 50px 0 10px 0;
    display: flex;
    justify-content: space-between;
    
}

/* Estilo para el botón "informacio btn-2" */
.btn-2 {
    text-decoration: none;
    border: 2px solid transparent; /* Cambia el color de borde según sea necesario */
    padding: 15px;
    color: #000; /* Color del texto */
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
  
.btn-2 span {
    position: relative;
    z-index: 3;
}
  
.btn-2::before,
.btn-2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    pointer-events: none; /* Evita que los seudoelementos interfieran con los eventos del mouse */
}
  
.btn-2::before {
    top: 0;
    left: 0;
    border-top: 2px solid #010100; /* Color del borde superior */
    border-bottom: 2px solid #010100; /* Color del borde inferior */
    transform: scaleY(0);
    z-index: 2;
}
  
.btn-2:hover::before {
    transform: scaleY(1);
}
  
.btn-2::after {
    top: 0;
    right: 0;
    border-right: 2px solid #010100; /* Color del borde derecho */
    border-left: 2px solid #010100; /* Color del borde izquierdo */
    transform: scaleX(0);
    z-index: 2;
}
  
.btn-2:hover::after {
    transform: scaleX(1);
}

#_3{
    width: 42px;
    height: 42px;
}

#_5{
    width: 70px;
    height: 60px;
}

#_6{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: -10px;
}

/* Estilo para el botón "informacio btn-1" */
.btn-1 {
    text-decoration: none;
    border: 2px solid transparent; /* Cambia el color de borde según sea necesario */
    padding: 15px;
    color: #000; /* Color del texto */
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
  
.btn-1 span {
    position: relative;
    z-index: 3;
}
  
.btn-1::before,
.btn-1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    pointer-events: none; /* Evita que los seudoelementos interfieran con los eventos del mouse */
}
  
.btn-1::before {
    top: 0;
    left: 0;
    border-top: 2px solid #010100; /* Color del borde superior */
    border-bottom: 2px solid #010100; /* Color del borde inferior */
    transform: scaleY(0);
    z-index: 2;
}
  
.btn-1:hover::before {
    transform: scaleY(1);
}
  
.btn-1::after {
    top: 0;
    right: 0;
    border-right: 2px solid #010100; /* Color del borde derecho */
    border-left: 2px solid #010100; /* Color del borde izquierdo */
    transform: scaleX(0);
    z-index: 2;
}
  
.btn-1:hover::after {
    transform: scaleX(1);
}

#_3{
    width: 42px;
    height: 42px;
}

#_5{
    width: 70px;
    height: 60px;
}

#_6{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: -10px;
}

.icon-1{
    flex-basis: calc(16.5% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;

}

.icon-txt {
 font-size: 20px;
 color: #111111;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;

}

.icon-txt p{
    font-size:  16px;
    color: #111111;
}


.blog{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;

}

.blog-1{
    flex-basis: calc(33.3% - 30px);
}

.blog-1 img{
    margin-bottom: 20px;
    border-radius: 5px;
    
}

.blog-1 h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p{
    font-size: 16px;
    color: #111111;

}
.footer{
    padding: 50px 0;
    background-color: #111111;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.link h3{

    font-size: 18px;
    color: #fff;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link li{
    color: #fff;
}

.link a{
    font-size: 16px;
    color: #DCDCDC;
    display: block;
    margin-bottom: 10px;
}

@media  screen and (min-width: 480px){
    .product{
        height: 390px;
    }

    .product img{
        flex-basis: 20%;
        text-align: center;
        max-width: 100%;
        height: auto;
        margin-top: 10px;
    }
    
    .product .img {
        height: 160px;
        width: 170px;
        padding: 0; 
        margin: 0 0;
    }
}
@media  screen and (min-width: 768px){
    .product{
        height: 450px;
    }
    .product .img {
        height: 200px;
        width: 210px;
        padding: 0; 
        margin: 0 0;
    } 
}

@media screen and (min-width: 1024px){

    .link:nth-child(1) {
        margin-right: 10px;
        margin-left: 20px;
    }

    .link:nth-child(2) {
        margin-right: 10px;
        margin-left: 10px;
    }

    .link:nth-child(3) {
        margin-right: 20px;
        margin-left: 10px;
    }

    .link:nth-child(4){
        margin-right: 10px; 
        margin-left: 30px; 
    }

    .product{
        height: 500px;
    }
    .product .img {
        height: 250px;
        
        padding: 0; 
        margin: 0 0;
    }
    .menu .navbar ul {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: start;
      }
}

@media screen and (max-width:991px) {

    /* Anulación de las reglas de margen en los elementos .link */
    .link:nth-child(1),
    .link:nth-child(2),
    .link:nth-child(3),
    .link:nth-child(4) {
        margin-right: 0; /* Anula el margen derecho */
        margin-left: 0; /* Anula el margen izquierdo */
    }

    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;

    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;

    }

    .menu .navbar ul li a{
        color: #fff;

    }
    #menu:checked ~ .navbar{
        display: initial;
    }

    .logo{
        display: none;
    }

    .submenu:hover #carrito{
        min-width: 100%;

    }
    .header{
        min-height: 0vh;

    }
    .header-content{
        padding: 50px 0;
        flex-direction: column;

    }
    .header-img{
        display: none;
    }
    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
    
    }
    .ofert{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }
    .ofert-1{
        margin-bottom: 30px;
    }

    .products{
        padding: 0 30px 30px 30px;
    }
    .products h2{
        margin-bottom: 30px;
    }

    .product-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .product img{
        height: auto;
        flex-basis: 50%;
        text-align: center;
        max-width: 100%;
        margin-top: 5px;
        
    }

    .icons{
        padding: 30px;
        flex-direction: column;
    }
    .icon-1{
        margin-bottom: 30px;
    }

    #_6{
        margin-left: 5px;
    }

    .blog{
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }
    .blog-1{
        margin-bottom: 30px;
    }
    .footer-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .link{
        flex-basis: calc(50% - 20px);
        text-align: center;
    }
}